@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.otp-item {
  width: 4rem !important;
}
[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
  font-size: 14px;
  font-style: italic;
  color: gray;
}
